# Supabase Configuration for IFET Maintenance System Template
# Vite Frontend Environment Variables (Exposed to Client)
VITE_SUPABASE_URL=https://prondjywyccrardfrufa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InByb25kanl3eWNjcmFyZGZydWZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxNjYzMzcsImV4cCI6MjEwNTc0MjMzN30.LXqE05hyJnWkoH5XyFTnONICA6uhya8lVe_4VOlXMqk

# Server Environment Variables (Secret / Backend only)
PORT=5173
SUPABASE_URL=https://prondjywyccrardfrufa.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InByb25kanl3eWNjcmFyZGZydWZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxNjYzMzcsImV4cCI6MjEwNTc0MjMzN30.LXqE05hyJnWkoH5XyFTnONICA6uhya8lVe_4VOlXMqk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InByb25kanl3eWNjcmFyZGZydWZhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDE2NjMzNywiZXhwIjoyMTA1NzQyMzM3fQ.XL3QXlLOCnE4SYRufKVM2X2OPvWBU2QRHz0hwHShwYs
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.prondjywyccrardfrufa.supabase.co:5432/postgres
